*{
    margin: 0;padding: 0;
    
}


.nav{
    width: 100vw;
    background-color: aqua;
    padding-left: 20px;
    font-style: tahoma;
    background-color: white;
    /* overflow: hidden; */
    position: sticky;
    top: -1px;
    height: auto;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* position: -webkit-sticky; */
    
}
.nav>h1{
    /* color: blueviolet; */
    font-size: 60px;
    line-height: 50px;



}
.nav>p{
    color: black;
    font-weight: 300;
    font-style: tahoma;
    font-size: 20px;

}
#btn_1{
    width: 40%;
    padding: 10px;
}
#btn_1 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#btn_2{
    width: 40%;
    padding: 10px;

}
#btn_2 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#btn_1:hover{
    cursor: pointer;
    border: none;
}

#btn_2:hover{
    cursor: pointer;
    border: none;
}
  
.box{
    width: 50%;
    /* border: 2px solid black; */
    height: auto;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 40px;
    /* height: 110vh; */


    font-family: tahoma;
    line-height: 40px;
    /* text-align: center; */
}
.box>h1,h2{
    line-height: 60px;
    font-size: 25px;
    font-weight: 700;
    /* width: 90%; */
    list-style: none;
    line-height: 80px;
}
.social{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    height: 60px;
    font-size: 30px;
    padding: 20px;

    
    align-items: center;
}

.h2{
    font-size: 20px;
}
#form{
    font-size: 20px;

}
#form>input{
    width: 100%;
    font-size: 20px;
    height: 40px;
}
.pass>input{
    width: 100%;
    font-size: 20px;
    height: 40px;

}
.phone-n>input{
    width: 100%;
    font-size: 20px;
    height: 40px;
    /* line-height: 90px; */
}
#btn1{
   /* margin: 30px; */
   background-color:#2E3337;
   color: white;
   height: 50px;
   

}
#btn1:hover{
    background-color: teal;
    cursor: pointer;
}

.info{
    text-align: center;
    color: rgb(192, 185, 185);
    margin-right: 70px;
}

@media (min-width:400px) and (max-width:900px){
    .nav{
        width: 100vw;
        background-color: aqua;
        padding-left: 20px;
        font-style: tahoma;
        text-align: center;
        background-color: aliceblue;

    }

    @media (min-width:300px) and (max-width:950px){
        .nav{
            width: 100vw;
            background-color: aqua;
            padding-left: 20px;
            font-style: tahoma;
            text-align: center;
            background-color: aliceblue;
        }

            .box{
                width: 40%;
                /* border: 2px solid black; */
                height: auto;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                margin: auto;
                margin-top: 40px;
                background-color: white;
                padding: 40px;
                /* height: 110vh; */
    }
.box{
    width: 60%;
    /* border: 2px solid black; */
    height: auto;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding: 40px;


    font-family: tahoma;
    line-height: 40px;
    /* text-align: center; */
}
.box>h1,h2{
    line-height: 60px;
    font-size: 35px;
    /* width: 90%; */
    list-style: none;
    line-height: 80px;
}
}
}

